{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
<strong>Move Archivematica Format Policy Registry data to this Preservation Actions Registry API:</strong>
<br />
<a href="/create_fpr2par_database"><button type="button" class="btn btn-success" style="margin-top: 10px;">Create fpr2par database</button></a><br />
<a href="/add_fpr2par_data"><button type="button" class="btn btn-info" style="margin-top: 10px;">Load data from fixtures</button></a><br />
<a href="/delete_fpr2par_database"><button type="button" class="btn btn-danger" style="margin-top: 10px;">Delete fpr2par database</button></a>
</div>

{% endblock %}
