{% extends "base.html" %}

{% block content %}
<div class="container-fluid text-center">
<strong>Move Archivematica Format Policy Registry data to this Preservation Actions Registry API:</strong>
<br />
<a href="/create_fpr_database"><button type="button" class="btn btn-success">Create FPR database</button></a>
<a href="/add_fpr_data"><button type="button" class="btn btn-info">Load FPR data from fixtures</button></a>
<a href="/delete_fpr_database"><button type="button" class="btn btn-danger">Delete FPR database</button></a>
</div>


{% endblock %}
