<!DOCTYPE html>
<html lang="en">
<head>
    <title>fpr2par</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <script type="text/javascript" src="../static/jquery-3.5.0.min.js"></script>
    <script type="text/javascript" src="../static/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/sorttable.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img src="../static/fpr2par_logo.png"></a>

    <div class="navbar-collapse" id="navbarNavDropdown">

      <div class="dropdown" style="padding-left: 10px; padding-top: 3px;">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Browse FPR data
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/fpr_format_groups">Format groups</a>
          <a class="dropdown-item" href="/fpr_formats">Formats</a>
          <a class="dropdown-item" href="/fpr_format_versions">Format versions</a>
          <a class="dropdown-item" href="/fpr_id_tools">ID tools</a>
          <a class="dropdown-item" href="/fpr_id_commands">ID commands</a>
          <a class="dropdown-item" href="/fpr_id_rules">ID rules</a>
          <a class="dropdown-item" href="/fpr_tools">Tools</a>
          <a class="dropdown-item" href="/fpr_commands">Commands</a>
          <a class="dropdown-item" href="/fpr_rules">Rules</a>
        </div>
      </div>

      <div class="dropdown" style="padding-left: 10px; padding-top: 3px;">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          PAR API requests
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/api/par/format-families">api/par/format-families</a>
          <a class="dropdown-item" href="/api/par/format-families/c94ce0e6-c275-4c09-b802-695a18b7bf2a"><id>api/par/format-families/{guid}</a>
          <a class="dropdown-item" href="/api/par/file-formats">api/par/file-formats</a>
          <a class="dropdown-item" href="/api/par/file-formats/36800d63-1bb5-4324-ba8c-90e222eeddbc">api/par/file-formats/{guid}</a>
          <a class="dropdown-item" href="/api/par/preservation-action-types">api/par/preservation-action-types</a>
          <a class="dropdown-item" href="/api/par/preservation-action-types/d3c7ef45-5c58-4897-b145-d41afbf82c61">api/par/preservation-action-types/{guid}</a>
          <a class="dropdown-item" href="/api/par/preservation-actions">api/par/preservation-actions</a>
          <a class="dropdown-item" href="/api/par/preservation-actions/<guid>">api/par/preservation-actions/{guid}</a>
          <a class="dropdown-item" href="/api/par/tools">api/par/tools</a>
          <a class="dropdown-item" href="/api/par/tools/246ad3d4-6a5d-466b-a35c-26c1323d198e">api/par/tools/{guid}</a>
          <a class="dropdown-item" href="/api/par/business-rules/<guid>">api/par/business-rules/{guid}</a>
        </div>
      </div>

      <div style="padding-left: 10px; padding-top: 3px;">
        <a href="/admin"><button class="btn btn-secondary" type="button">Admin</button></a>
      </div>

    </div>
  <span style="font-style: italic" class="navbar-text">Access Archivematica FPR data via a PAR API</span>
</nav>

<div class="container-fluid" style="margin-top: 20px;">

  {% with messages = get_flashed_messages() %}{% if messages %}
  <div class="alert alert-primary" role="alert">
      {% for message in messages %}
      {{ message }}<br />
      {% endfor %}
  </div>
  {% endif %}{% endwith %}

{% block content %}
{% endblock %}

</div>
</body>
