{% extends "base.html" %}

{% block content %}

{% if idCommands %}
<div class="alert alert-info"><h4>Identification commands ({{count}})</h4></div>

<table id="fpr-results" class="table table-striped table-bordered" style="width:100%">
  <thead>
  <tr>
  <td><strong>Description</strong></td>
  <td><strong>Script type</strong></td>
  <td><strong>Enabled</strong></td>
  <td><strong>Tool</strong></td>
  <td><strong>Script</strong></td>
  <td><strong>Last modified</strong></td>
  <td><strong>Config</strong></td>
  <td><strong>UUID</strong></td>
  <td><strong>Replaces</strong></td>
  <td><strong>ID rules</strong></td>
  </tr>
  </thead>
  <tbody>
  {% for idCommand in idCommands %}
  <tr>
        <td>{{ idCommand.description }}</td>
        <td>{{ idCommand.script_type }}</td>
        <td>{{ idCommand.enabled }}</td>
        <td>{{ idCommand.fprIdTool }}</td>
        <td>{{ idCommand.script }}</td>
        <td>{{ idCommand.last_modified }}</td>
        <td>{{ idCommand.config }}</td>
        <td>{{ idCommand.uuid }}</td>
        <td>{{ idCommand.replaces }}</td>
        <td>{% if idCommand.fprIdRules|length != 0 %}<a href="/fpr_id_rules">{{ idCommand.fprIdRules|length }}</a>{% else %}{{ idCommand.fprIdRules|length }}{% endif %} </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
