{% extends "base.html" %}

{% block content %}

{% if formats %}
<div class="alert alert-info"><h4><a href="/fpr_format_groups">Format groups</a> / {{ formatGroup.description }} ({{formatGroup.fprFormats|length}})</h4></div>

<table id="fpr-results" class="table table-striped table-bordered" style="width:100%">
  <thead>
  <tr>
    <td><strong>Description</strong></td>
    <td><strong>Versions</strong></td>
    <td><strong>Slug</strong></td>
    <td><strong>UUID</strong></td>
  </tr>
  </thead>
  <tbody>
    {% for format in formats %}
    <tr>
          <td>{{ format.description }}</td>
          <td>{% if format.fprFormatVersions|length != 0 %}<a href="/fpr_format_version/{{format.uuid}}">{{ format.fprFormatVersions|length }}</a>{% else %}{{ format.fprFormatVersions|length }}{% endif %} </td>
          <td>{{ format.slug }}</td>
          <td>{{ format.uuid }}</td>
    </tr>
  {% endfor %}
</tbody>  
</table>
{% endif %}

{% endblock %}
