{% extends "base.html" %}

{% block content %}
<div class="container-fluid text-center">
<strong>Move Archivematica Format Policy Registry data to this Preservation Actions Registry API:</strong>
<br />
<a href="/create_fpr_database"><button type="button" class="btn btn-success">Create FPR database</button></a>
<a href="/add_fpr_data"><button type="button" class="btn btn-info">Load FPR data from fixtures</button></a>
<a href="/delete_fpr_database"><button type="button" class="btn btn-danger">Delete FPR database</button></a>
</div>


<hr />


<div class="container-fluid">
  <div class ="row">
    <div class="col"><div class="alert alert-info"><h4 class="h3">FPR statistics</h4></div>
    <table class="table table-bordered table-condensed">
      <tr><td width=20%><strong>Format groups:</strong></td><td><a href="/fpr_format_groups">{{formatGroups}}</a></td></tr>
      <tr><td width=20%><strong>Formats:</strong></td><td><a href="/fpr_formats">{{formats}}</a></td></tr>
      <tr><td width=20%><strong>Format versions:</strong></td><td><a href="/fpr_format_versions">{{formatVersions}}</a></td></tr>
      <tr><td width=20%><strong>Identification tools:</strong></td><td><a href="/fpr_id_tools">{{idTools}}</a></td></tr>
      <tr><td width=20%><strong>Identification commands:</strong></td><td><a href="/fpr_id_commands">{{idCommands}}</a></td></tr>
      <tr><td width=20%><strong>Identification rules:</strong></td><td><a href="/fpr_id_rules">{{idRules}}</a></td></tr>
      <tr><td width=20%><strong>Tools:</strong></td><td><a href="/fpr_tools">{{tools}}</a></td></tr>
      <tr><td width=20%><strong>Commands:</strong></td><td><a href="/fpr_commands">{{commands}}</a></td></tr>
      <tr><td width=20%><strong>Rules:</strong></td><td><a href="/fpr_rules">{{rules}}</a></td></tr>
    </table>
    </div>
    <div class="col">
      <div class="alert alert-info"><h4 class="h3">PAR API requests</h4></div>
        <table class="table table-bordered table-condensed">
          <tr><td width=20%><strong>All format families:</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/format-families">{{apiUrl}}/format-families</a></small></div></td></tr>
          <tr><td width=20%><strong>Format family by GUID:</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/format-families/<id>"><id>{{apiUrl}}/format-families/{guid}</a></small></div></td></tr>
          <tr><td width=20%><strong>All file formats:</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/file-formats">{{apiUrl}}/file-formats</a></small></div></td></tr>
          <tr><td width=20%><strong>File format by GUID:</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/file-formats/36800d63-1bb5-4324-ba8c-90e222eeddbc">{{apiUrl}}/file-formats/{guid}</a></small></div></td></tr>
          <tr><td width=20%><strong>All preservation action types:</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/preservation-action-types">{{apiUrl}}/preservation-action-types</a></small></div></td></tr>
          <tr><td width=20%><strong>Preservation action type by GUID:</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/preservation-action-types/<id>">{{apiUrl}}/preservation-action-types/{guid}</a></small></div></td></tr>
          <tr><td width=20%><strong>All preservation actions:</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/preservation-actions">{{apiUrl}}/preservation-actions</a></small></div></td></tr>
          <tr><td width=20%><strong>Preservation action by GUID:</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/preservation-actions/<id>">{{apiUrl}}/preservation-actions/{guid}</a></small></div></td></tr>
          <tr><td width=20%><strong>All tools:</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/tools">{{apiUrl}}/tools</a></small></div></td></tr>
          <tr><td width=20%><strong>Tools by GUID:</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/tools/<id>">{{apiUrl}}/tools/{guid}</a><small></div></td></tr>
          <tr><td width=20%><strong>Business rule by GUID:</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/business-rules/<id>">{{apiUrl}}/business-rules/{guid}</a></small></div></td></tr>
        </table>
    </div>
  </div>
</div>



{% endblock %}
