{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
  <div class ="row">
      <div class="col"><div class="alert alert-info"><h4 class="h3">About fpr2par</h4></div>
      <a href="https://archivematica.org">Archivematica</a> uses a Format Policy Registry (<a href="https://www.archivematica.org/en/docs/archivematica-1.11/user-manual/preservation/preservation-planning/">FPR</a>) internally to map preservation rules and tool commands to files that are identified to be of a specific format type. Other preservation systems, such as Preservica, use their own internal registry to define what tools and rules to use when doing digital preservation. There is no way to share technical information between the existing solutions and for users to share their experience on what approaches to use in different contexts and why. This hinders implementation and execution of digital preservation in an interoperable way within the digital preservation community.
      <p> </p>
      <p>Preservation Action Registries (<a href="http://parcore.org">PAR</a>) is a project sponsored by the Open Preservation Foundation (<a href="https://openpreservation.org/">OPF</a>) that seeks to share technical best practices for the preservation of digital objects in the form of a corpus of machine-readable recommendations and an Application Programming Interface (API) specification to access these.</p>

      <p>This <strong>fpr2par</strong> application makes Archivematica FPR data available via a PAR API. It is open-source software that is available for download and use with your own FPR data. See <a href="https://github.com/artefactual-labs/fpr2par">https://github.com/artefactual-labs/fpr2par</a>.</p>

      <p>See the list below to test examples of PAR API queries that <strong>fpr2par</strong> responds to. You can also use the menus above to browse FPR source data and run sample PAR API queries. Note that individual PAR records can be requested by their GUID (i.e. UUID). Sets of PAR records can be filtered by using "offset" and "limit" filters, "modified-after" and/or "modified-before" date filters, or they can be returned as the full set of records available in <strong>fpr2par</strong>.</p>

      <p>To run API queries from your own client:<br/>
        <div class="alert alert-secondary text-monospace"><small>[your terminal] > curl -X GET "{{ apiUrl }}/file-formats?offset=100&limit=20"</small></div>
      </div></p>

      <div class="col col-lg-5"><div class="alert alert-info"><h4 class="h3">FPR statistics</h4></div>
      <table class="table table-bordered table-condensed">
        <tr><td width=20%><strong>Format groups:</strong></td><td><a href="/fpr_format_groups">{{formatGroups}}</a></td></tr>
        <tr><td width=20%><strong>Formats:</strong></td><td><a href="/fpr_formats">{{formats}}</a></td></tr>
        <tr><td width=20%><strong>Format versions:</strong></td><td><a href="/fpr_format_versions">{{formatVersions}}</a></td></tr>
        <tr><td width=20%><strong>Identification tools:</strong></td><td><a href="/fpr_id_tools">{{idTools}}</a></td></tr>
        <tr><td width=20%><strong>Identification commands:</strong></td><td><a href="/fpr_id_commands">{{idCommands}}</a></td></tr>
        <tr><td width=20%><strong>Identification rules:</strong></td><td><a href="/fpr_id_rules">{{idRules}}</a></td></tr>
        <tr><td width=20%><strong>Tools:</strong></td><td><a href="/fpr_tools">{{tools}}</a></td></tr>
        <tr><td width=20%><strong>Commands:</strong></td><td><a href="/fpr_commands">{{commands}}</a></td></tr>
        <tr><td width=20%><strong>Rules:</strong></td><td><a href="/fpr_rules">{{rules}}</a></td></tr>
      </table>
      </div>
  </div>
</div>

<hr />

<div class="container-fluid">
      <div class="alert alert-info"><h4 class="h3">Example PAR API requests (using URLs)</h4></div>
        <table class="table table-bordered table-condensed">
          <tr><td><strong>Format family by GUID:</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/format-families/c94ce0e6-c275-4c09-b802-695a18b7bf2a">{{apiUrl}}/format-families/c94ce0e6-c275-4c09-b802-695a18b7bf2a</a></small></div></td></tr>
          <tr><td><strong>Format families (with offset and limit):</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/format-families?offset=0&limit=3">{{apiUrl}}/format-families?offset=0&limit=3</a></small></div></td></tr>
          <tr><td><strong>All format families:<strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/format-families">{{apiUrl}}/format-families</a></small></div></td></tr>
          <tr><td><strong>File format by GUID:</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/file-formats/36800d63-1bb5-4324-ba8c-90e222eeddbc">{{apiUrl}}/file-formats/36800d63-1bb5-4324-ba8c-90e222eeddbc</a></small></div></td></tr>
          <tr><td><strong>File formats (with offset and limit):</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/file-formats?offset=20&limit=20">{{apiUrl}}/file-formats?offset=20&limit=20</a></small></div></td></tr>
          <tr><td><strong>File formats (within a date range):</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/file-formats?modified-after=2016-01-01&modified-before=2018-01-01">{{apiUrl}}/file-formats?modified-after=2016-01-01&modified-before=2018-01-01</a></small></div></td></tr>
          <tr><td><strong>All file formats:</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/file-formats">{{apiUrl}}/file-formats</a></small></div></td></tr>
          <tr><td><strong>Preservation action type by GUID:</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/preservation-action-types/d3c7ef45-5c58-4897-b145-d41afbf82c61">{{apiUrl}}/preservation-action-types/d3c7ef45-5c58-4897-b145-d41afbf82c61</a></small></div></td></tr>
          <tr><td><strong>Preservation action types (with offset and limit):</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/preservation-action-types?limit=3&offset=0">{{apiUrl}}/preservation-action-types?limit=3&offset=0</a></small></div></td></tr>
          <tr><td><strong>All preservation action types:</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/preservation-action-types">{{apiUrl}}/preservation-action-types</a></small></div></td></tr>
          <tr><td><strong>Preservation action by GUID:</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/preservation-actions/1628571b-c2cd-4822-afdb-53561400c7c4">{{apiUrl}}/preservation-actions/1628571b-c2cd-4822-afdb-53561400c7c4</a></small></div></td></tr>
          <tr><td><strong>Preservation actions (with offset & limit):</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/preservation-actions?offset=20&limit=10">{{apiUrl}}/preservation-actions?offset=20&limit=10</a></small></div></td></tr>
          <tr><td><strong>Preservation actions (within a date range):</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/preservation-actions?modified-after=2014-01-01&modified-before=2020-01-01">{{apiUrl}}/preservation-actions?modified-after=2014-01-01&modified-before=2020-01-01</a></small></div></td></tr>
          <tr><td><strong>All preservation actions:</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/preservation-actions">{{apiUrl}}/preservation-actions</a></small></div></td></tr>
          <tr><td><strong>Tools by GUID:</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/tools/246ad3d4-6a5d-466b-a35c-26c1323d198e">{{apiUrl}}/tools/246ad3d4-6a5d-466b-a35c-26c1323d198e</a><small></div></td></tr>
          <tr><td><strong>Tools (with offset and limit):</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/tools?offset=5&limit=5">{{apiUrl}}/tools?offset=5&limit=5</a></small></div></td></tr>
          <tr><td><strong>All tools:</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/tools">{{apiUrl}}/tools</a></small></div></td></tr>
          <tr><td><strong>Business rule by GUID:</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/business-rules/085d5286-7616-4acd-88a4-ef65066362b9">{{apiUrl}}/business-rules/085d5286-7616-4acd-88a4-ef65066362b9</a></small></div></td></tr>
          <tr><td><strong>Business rules (with offset and limit):</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/business-rules?offset=10&limit=10">{{apiUrl}}/business-rules?offset=10&limit=10</a></small></div></td></tr>
          <tr><td><strong>Business rules (within a date range):</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/business-rules?modified-after=2017-01-01&modified-before=2018-01-01">{{apiUrl}}/business-rules?modified-after=2017-01-01&modified-before=2017-12-31</a></small></div></td></tr>
          <tr><td><strong>All business rules:</strong></td><td><div class="alert alert-secondary text-monospace"><small><a href="api/par/business-rules">{{apiUrl}}/business-rules</a></small></div></td></tr>
        </table>
</div>

<div class="container-fluid">
      <div class="alert alert-info"><h4 class="h3">Example PAR API requests (filtered by HTTP headers)</h4></div>
      <p>This requires the use of a HTTP client like <a href="https://curl.haxx.se/">Curl</a> or <a href="https://www.postman.com/product/api-client">Postman</a> to include header values in HTTP requests.</p>
        <table class="table table-bordered table-condensed">
          <tr><td><strong>Request file formats limited by a list of PUIDs:</strong></td><td><div class="alert alert-secondary text-monospace"><small>curl -v -H "Accept: application/json" -H ""file-format": "fmt/199, fmt/81, x-fmt/10"" "{{apiUrl}}/file-formats</small></div></td></tr>
          <tr><td><strong>Request preservation actions limited by a list of GUIDs:</strong></td><td><div class="alert alert-secondary text-monospace"><small>curl -v -H "Accept: application/json" -H ""guid": "e1b71449-8822-49ac-9d8a-b7ed6f960ec8, 1628571b-c2cd-4822-afdb-53561400c7c4"" "{{apiUrl}}/preservation-actions"</small></div></td></tr>
          <tr><td><strong>Request preservation actions limited by a list of tool GUIDs:</strong></td><td><div class="alert alert-secondary text-monospace"><small>curl -v -H "Accept: application/json" -H ""tool": "0a78f98a-9484-431a-9759-59e5d1d09281,bb957e1d-ee63-4354-a209-a41d23881e3e"" "{{apiUrl}}/preservation-actions"</small></div></td></tr>
          <tr><td><strong>Request preservation actions limited by a list of preservation action type GUIDs:<strong></td><td><div class="alert alert-secondary text-monospace"><small>curl -v -H "Accept: application/json" -H ""preservation-action-type": "de6b59ee-4996-44de-86f6-8d7a270e3bb6"" "{{apiUrl}}/preservation-actions"</small></div></td></tr>
          <tr><td><strong>Request business rules limited by a list of GUIDs:</strong></td><td><div class="alert alert-secondary text-monospace"><small>curl -v -H "Accept: application/json" -H ""guid": "2bb6afc9-3c1b-4827-8758-a9c3de1e0b84, 5c9685e7-5694-4275-a4a7-c3ebdb6aa88a"" "{{apiUrl}}/business-rules"</small></div></td></tr>
          <tr><td><strong>Request business rules limited by a list of file format PUIDs:</strong></td><td><div class="alert alert-secondary text-monospace"><small>curl -v -H "Accept: application/json" -H ""file-format": "fmt/437, fmt/367"" "{{apiUrl}}/business-rules"</small></div></td></tr>
          <tr><td><strong>Request business rules limited by a list of preservation action type GUIDs:</strong></td><td><div class="alert alert-secondary text-monospace"><small>curl -v -H "Accept: application/json" -H ""preservation-action-type": "ac87e824-0cd5-4416-9b64-875f030c05b1, de6b59ee-4996-44de-86f6-8d7a270e3bb6"" "{{apiUrl}}/business-rules"</small></div></td></tr>
          <tr><td><strong>Request tools limited by a list of GUIDs:</strong></td><td><div class="alert alert-secondary text-monospace"><small>curl -v -H "Accept: application/json" -H ""guid": "246ad3d4-6a5d-466b-a35c-26c1323d198e, "23e90197-a00e-4e37-a0cc-77f01aec9309" "{{apiUrl}}/tools"</small></div></td></tr>
        </table>
</div>




{% endblock %}
